In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
try:
    session.execute("select * from music_library")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [4]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION = 
    {'class':'SimpleStrategy', 'replication_factor': 1}""")
except Exception as e:
    print(e)

In [5]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [6]:
try:
    session.execute("select * from udacity")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="table udacity does not exist"

In [7]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [8]:
try:
    session.execute("select * from music_library")
except Exception as e:
    print(e)